<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <form action = "/chat" metod = "GET">
    <button>GOT SOMETHIN' TO SAY? JOIN CHAT!</button>
    </form>

    <section>
    <form method = "POST" action = "/add">
    <h1>Add a Post</h1>
    <input type="text" placeholder = "Enter title" name = "title">
    <input type="text" placeholder = "Enter Body" name= "body">
    <select name = "category">
    <option value = "Javascript">Javascript</option>
    <option value = "Python">Python</option>
    <option value  = "ios">ios</option>
    <option value = "Android">Android</option>
    </select>
    <button type = "submit">Submit</button>
    </form>
    </section>
    <br>


    <form action = "/filter" method = "POST">
        <button>Filter Posts by Category</button>
        <select name = "category">
        <option value = "Javascript">Javascript</option>
        <option value = "Python">Python</option>
        <option value  = "ios">ios</option>
        <option value = "Android">Android</option>
        </select>
    </form>
    
    <form action = "filterDate" method = "POST">
    <button>Sort by Date</button>
    <select name = "filterDate">
    <option value = "recent">Most Recent</option>
    <option value = "oldest">Oldest</option>
    </select>
    </form>


    <form method = "POST" action = "/search">
    <input type = "text" placeholder = "Search" name ="searchBar">
    <button>Search!</button>
    </form>

    <section>
    {{#posts}}
    <form method = "POST" action = "/delete">
    {{title}}
    {{body}}
    {{category}}
    <input type = "hidden" name = "id" value = {{id}}>
    <button type = "submit">DELETE</button>
    </form>


    <form action = "/add-comment" method = "POST">
    <div>Your thoughts?</div>
    <input type = "text" placeholder = "title" name = "commentTitle">
    <input type = "text" placeholder = "body" name = "commentBody">
    <input type = "hidden" name = "post_id" value = {{id}}>
    <button type = "submit">Add Comment</button>
    </form>
    <div>------------------------------------------------------------</div>
    {{#comments}}
    <form action = "/delete-comment" method = "POST">
    <section>
    {{title}} - {{body}}
      <input type = "hidden" name = "commentId" value = {{id}}>
    <button type = "submit">Delete</button>
    </form>
     <div>------------------------------------------------------------</div>
    {{/comments}}
    </section>
    {{/posts}}
    
    </section>
</body>
</html>