<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <h1>TO DO<h1>

    {{#tasks}}

    {{taskName}} - {{taskPriority}}
    <input type = "hidden" name = "id" value = {{_id}}>
    {{completedDate}}
    <form method = "POST" action = "/toUpdate">
    <input type = "hidden" name = "id" value = {{_id}}>
    <button>Update Task</button>
    </form>
    <form method = "POST" action = "/delete-item">
    <input type = "hidden" name = "id" value = {{_id}}>
     <button name = "submit">Delete Task</button>
     </form>
    {{/tasks}}
    </section>
    <br>

    <section>
    <h1>CREATE A NEW TASK<h1>
    <form method = "POST" action = "add-item">
    <input type = "text" name = "taskName">
    <input type = "text" name = "priority">
    <input type = "date" name = "date">
    <button name = "submit">Create Task</button>
    </form>
    </section>

</body>
</html>