<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Update Task</h1>
    {{taskName}} - {{taskPriority}}
    {{completedDate}}
    <form action = "/update-task" method = "POST">
    <input type = "hidden" name = "id" value = "{{_id}}">
    <input type = "text" value = "{{taskName}}" name = "taskName">
    <input type = "text" value = "{{taskPriority}}" name = "priority">
    <input type = "date" value = "{{completedDate}}" name = "date">
    <button>Update</button>
    </form>
</body>
</html>